<h2>Welcome to <%= @country.name %>!</h2>

<% if @country.image_url %>
  <img src="<%= @country.image_url %>" alt="" width='700px' />
<% end %>

<% if @country.cities.any? %>

  <% @country.cities.each do |city| %>
    <h3><%= city.name %>
    <%= link_to 'Edit', edit_country_city_path(@country, city) %> |
    <%= link_to 'Delete', country_city_path(@country, city),
                                :data => {:confirm => "You sure?",
                                          :method => 'delete'} %>
    </h3>
  <% end %>
<% else %>
  <p>
    There are no cities yet!
  </p>
<% end %>

<%= link_to 'Create City', new_country_city_path(@country) %>

<br>
<%= link_to 'Back', countries_path %>
